.Bouton {
	background-color: #333;
	float: left;
	color: #080;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	border: 1px solid #080;
	margin-bottom: 2px;
	margin-right: 5px;
}

.Bouton:hover {
	color: #333;
	background-color: #080;
}

.Bouton.active {
	background-color: #080;
	color: #333;
}

.Flotte {
	float: left;
}

#mySect1 {
	width: 100%;
	display: block;
}

#mySect2 {
	width: 100%;
	display: block;
}

#mySect3 {
	width: 100%;
	display: block;
}

#mySect4 {
	width: 100%;
	display: block;
}

#mySect5 {
	width: 100%;
	display: block;
}

.bordbarre{
	border: 1px solid #080;
	margin-bottom: 2px;
	margin-left: 5px;
	margin-right: 5px;
	color: #FFF;
	min-width: 280px;
}

.barre80{
	background-color: #080;
	width: 80%;
}
.barre20{
	background-color: #080;
	width: 20%;
}